@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*===============================================================================Css por Defecto===============================================================================*/
/*===========Cuerpo de pagina===========*/
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
}
body {
    padding: 0;
    display: block;
    position: relative;
}

/*===============Cabezera===============*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 1;

    -webkit-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
    -moz-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
    box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);

    nav{
        display: flex;
    }
    .espacio-logo{
        img{
            width: 300px;
        }
    }
    .nav-menu{
        display: flex;
        gap: 30px;
        align-items: center;

    }

    .hover-menu{
        font-size: 18px;
        font-weight: 600;
        padding: 7px;
        border-radius: 10px;

    }

    .hover-menu:hover{
        background-color: #495b71;
        transition: all .5s;

        .nav-menu-link{
            color: #fff;
            transition: all .5s;
        }
    }

    .dropdown{
        display: flex;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        height: auto;
        padding: 10px;
        width: 130px;
        gap: 15px;
        top: 68px;

        border-radius: 5px;
        

        background: rgb(255, 255, 255);
        -webkit-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
        -moz-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
        box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
        
        a{
            font-size: 15px;
            color: #000;
        }
    }

    .cascade{
        width: 97px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cascade:hover{
        .dropdown{
            opacity: 1;
            visibility:visible;
        }
    }

    .sub-menu:hover{
        color: #236abb;
        transition: all .5s;
    }

    .nav-toggle{
        display: none;
        z-index: 100;
        position: absolute;
        right: 0;
        top: 25px;
    }

    .nav-menu-visible{
        background-color: #a1a8b1;
        z-index: -1;
        position:absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        opacity: 1 !important;
        visibility: visible !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all .5s;
    }
    .nav-menu-link{
        color: #000;
    }
}

/*============Pies de Pagina============*/
.pies-pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D2D2D4;

    .grupo-1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;
        gap: 40px;
        width: 100%;
        padding: 0 200px;

        .box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            width: 270px;

            img{
                width: 270px;
            }
            p{
                font-size: 20px;
            }
            .footer-link{
                color: #000;
                font-size: 16px;
                font-weight: 600;
            }
            .footer-link:hover{
                color: #495b71;
            }
            
            .red-social{
                font-size: 18px;
                display: flex;
                gap: 15px;
                
                a{
                    color: #fff;
                    padding: 15px;
                    background-color: #495B71;
                }
                a:hover{
                    color: rgb(199, 37, 37);
                }
            }
            .contact{
                display: flex;
                flex-direction: column;
                gap: 6px;
                .enlaces_contacto{
                    font-size: 15px;
                    color: #000;
                }
            }
            .title-contact{
                font-size: 17px;
                font-weight: 600;
            }
            .title-footer{
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
    .grupo-2{
        background-color: #495B71;
        color: #fff;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        
    }
}

/*==========Botones importantes=========*/
.button{
    font-size: 20px;
    padding: 15px;
    color: #fff;
    background-color: #495B71;
    border-radius: 15px;
    font-weight: 600;
}

/*==========Portada de Paginas==========*/
.imagen-principal{
    width: 100%;
    padding-top: 100px;
    background-color: #000;

    -webkit-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
    -moz-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
    box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);

    display: flex;
    justify-content: center;
    
    
    h1{
        font-size: 68px;
        color: #fff;
        font-weight: 1000;
        text-align: center;
        width: 100%;
    }
    p{
        width: 800px;
        text-align: center;
        color: #fff;
        font-size: 19px;
        font-weight: 100;
    }
    a{
        margin-top: 90px;
    }
    a:hover{
        box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
        -webkit-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
        -moz-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
    }
}
.portada-home{
    height: 100vh;
    background-image: url(../image/prueba3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    div{
        display: flex;
        margin-top: 200px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        height: 100%;
    }
}
.portada-about{
    height: 700px;
    background-image: url(../image/portada-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    div{
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        height: 100%;
    }
}
.portada-servicio{
    height: 700px;
    background-image: url(../image/portada-servicios.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 35%;
    div{
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        height: 100%;
    }
}
.portada-contacto{
    height: 700px;
    background-image: url(../image/img-contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 35%;
    div{
        display: flex;
        margin-top: 200px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        height: 100%;
    }
}
.portada-logistica{
    height: 450px;
    width: 100%;
    background-color: #fff;

    .contenedor-portada{
        background-image: url(../image/foto-servicios-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 60%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 30px;
        width: 100%;
        height: 100%;
    }
    
}
.portada-mantenimiento{
    height: 450px;
    width: 100%;
    background-color: #fff;

    .contenedor-portada{
        background-image: url(../image/portada-mantenimiento.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 60%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 30px;
        width: 100%;
        height: 100%;
    }
    
}
.portada-trade{
    height: 450px;
    width: 100%;
    background-color: #fff;

    .contenedor-portada{
        background-image: url(../image/portada-trade.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 60%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 30px;
        width: 100%;
        height: 100%;
    }
    
}
/* ================================================================================Pagina Home============================================================================== */
/*============Sobre Nosotros============*/
.sobre-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 80px 0px;

    -webkit-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    -moz-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    
    .content-SN{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 500px;
        padding: 20px;
        background-color: #f2f2f2;
        gap: 50px;
        border-radius: 5px;
        
        -webkit-box-shadow: 3px 14px 21px -13px rgba(73,91,113,1);
        -moz-box-shadow: 3px 14px 21px -13px rgba(73,91,113,1);
        box-shadow: 3px 14px 21px -13px rgba(73,91,113,1);

        p{
            font-size: 16px;
            padding: 0 15px;
            line-height: 30px;
            text-align: center;

            strong{
                color: #354355;
            }
        }
        h2{
            color: #354355;
            font-size: 28px;
        }
    }
}

/*==============Servicios===============*/
.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    gap: 70px;

    -webkit-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    -moz-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);

    .title-servicios{
        color: #495B71;
        font-size: 34px;
    }

    .servicios-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 60px;
        flex-wrap: wrap;

        .div-servicios{
            width: 300px;
            height: 450px;
            display: flex;
            border-radius: 15px;
            align-items: center;
        }
        .capa-servis{
            display: flex;
            opacity: 0;
            gap: 40px;
            height: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #fff !important;
            transition: opacity .6s;

            a{
                color: #fff;
                padding: 10px;
                background-color: #495b71;
                border-radius: 10px;
            }
            a:hover{
                box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
                -webkit-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
                -moz-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
            }
        }
        .capa-servis:hover{
            opacity: 1;
        }

        .trade{
            background-image: url(../image/trader.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .reparacion{
            background-image: url(../image/reparacion.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .logistica{
            background-image: url(../image/transporte.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

/*==============Portafolio==============*/
.portafolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 70px;
    padding-bottom: 90px;

    -webkit-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    -moz-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    
    .title-portafolio{
        color: #495B71;
        font-size: 34px;
    }

    p{
        text-align: center;
    }

    a:hover{
        box-shadow: 0px 0px 55px 0px rgba(55,81,112,1); 
        -webkit-box-shadow: 0px 0px 55px 0px rgba(55,81,112,1); 
        -moz-box-shadow: 0px 0px 55px 0px rgba(55,81,112,1);
    }

    .portafolio__galeria{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 80px;
        margin-top: 100px;
        flex-wrap: wrap;
        
        .portafolio__galeria-div{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            flex-wrap: wrap;

            div{
                height: 250px;
                width: 250px;
                border-radius: 50%;
            }
        }
        .img-trade{
            background-image: url(../image/trade.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img-mante{
            background-image: url(../image/mante.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img-transporte{
            background-image: url(../image/transporte-carga.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img-logistica{
            background-image: url(../image/logistica-carga.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        p{
            color: #000;
            font-size: 20px;
        }
    }
}

/*==========Portada de Conocer==========*/
.conocer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;

    background-image: url(../image/buque-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    div{
        display: flex;
        gap: 50px;
        background-color: #ffffff11;
        align-items: center;
        justify-content: center;
        padding: 80px;
        border-radius: 15px;
        flex-wrap: wrap;

        a:hover{
            box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
            -webkit-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
            -moz-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
        }
        h4{
            font-size: 35px;
            color: #fff;
        }
    }
}


/* ===============================================================================Pagina About=============================================================================== */
/*======Informacion Sobre Nosotros======*/
.contenido-about{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -250px;
    
    .contenedor-box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0px 10px;
        flex-wrap: wrap;
    }
    .content-about{
        background-color: #f2f2f2;
        height: 465px;
        width: 380px;
        padding: 35px;
        display: flex;
        gap: 30px;
        flex-direction: column;

        -webkit-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
        -moz-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
        box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
    }
    .title-content-about{
        font-size: 24px;
        color: #495B71;
        font-weight: 800;
    }
    .text-content-about{
        line-height: 28px;
    }
}
/* ==========Informacion final==========*/
.parte-final-about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    .img-final{
        background-image: url(../image/img-about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 100%;
    }
    .text-final{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        
        div{
            height: 100%;
            width: 100%;
            display: flex;
            gap: 40px;
            flex-direction: column;

            .title-final{
                font-size: 38px;
                font-weight: 800;
                color: #495B71;
            }
            .areatext-final{
                font-size: 17px;
            }
        }
        a:hover{
            box-shadow: 0px 0px 40px 0px rgba(55,81,112,1); 
            -webkit-box-shadow: 0px 0px 40px 0px rgba(55,81,112,1); 
            -moz-box-shadow: 0px 0px 40px 0px rgba(55,81,112,1);
        }
    }
}


/* ==============================================================================Pagina Servicios============================================================================= */
.contenido-servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .imgServices{
        height: 400px;
        width: 100%;
    }

    .areatext-servicios{
        width: 100%;
        height: 100%;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .title-areatext{
        font-size: 24px;
        color: #495B71;
        font-weight: 700;
    }
    .info-areatext{
        font-size: 17px;
    }
    .button-service{
        width: fit-content;
        font-size: 17px;
        padding: 15px;
        color: #fff;
        background-color: #495B71;
        border-radius: 15px;
        font-weight: 600;
        margin: 0 auto;
    }

    .img-service-1{
        background-image: url(../image/foto-servicios-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .img-service-2{
        background-image: url(../image/reparacion.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 25%;
    }
    .img-service-3{
        background-image: url(../image/foto-servicio-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}


/* ==============================================================================Pagina Contacto============================================================================= */
.content-contact{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;

    .contactar{
        height: 100%;
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;

        .area-contacto{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;

            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 70%;
                gap: 30px;

                .input-info{
                    background-color: #f2f2f2;
                    border:1px solid #354355;
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    text-indent: 10px;
                    color: #000;
                    font-size: 14px;
                }
                .input-mensaje{
                    background-color: #f2f2f2;
                    border:1px solid #354355;
                    width: 100%;
                    border-radius: 5px;
                    padding: 20px 20px 20px 0;
                    text-indent:10px;
                    color: #000;
                    font-size: 15px;
                }
                .enviar{
                    background-color: #495b71;
                    color: #fff !important;
                    padding: 15px 5px;
                    width: min-content;
                    font-weight: bold;
                    font-size: 16px;
                    border: none;
                    border-radius: 10px;
                    color: #000;
                    font-size: 15px;
                }
            }
        }
        .area-informacion{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2{
                text-align: center;
            }
            div{
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: 100%;
                width: 100%;
                margin-top: 23px;

                a{
                    color: #000;
                    display: flex;
                    gap: 10px;

                    i::before{
                        display: block;
                        font-size: 20px;
                        color: #495B71;
                    }
                }
            }
        }
    }
    .mapa{
        height: 400px;
        width: 100%;
    }

}

/* ==============================================================================Pagina Logistica y Carga============================================================================= */
.img-logistica-1{
    background-image: url(../image/Transporte.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-logistica-2{
    background-image: url(../image/contenedores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logistica-text{

    i{
        font-size: 40px;
        padding: 20px;
        border-radius: 50%;
        text-align: center;
        background-color: #495b71;
        color: #f2f2f2;
        }
    ul{
        margin-top: 15px;
    }
    li{
        text-align: start;
        list-style:inside;
        color: #495b71;
        font-size: 19px;
    }
}

/* ==============================================================================Pagina Reparacion y Mantenimiento============================================================================= */
.img-reparacion-1{
    background-image: url(../image/foto-reparacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-reparacion-2{
    background-image: url(../image/foto-mantenimiento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ==============================================================================Pagina Trade Internacional============================================================================= */
.img-trade-1{
    background-image: url(../image/foto-trade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-trade-2{
    background-image: url(../image/foto-trailer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
}

/* ==============================================================================Pagina Gracias============================================================================= */
.agradecer{
    width: 100%;
    padding-top: 180px;
    height: 100%;

    display: flex;
    justify-content: center;

    .content-agradecer{
        background-color: #f2f2f2;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px;
        padding: 30px;
        gap: 20px;
        border-radius: 15px;


        -webkit-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
        -moz-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
        box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    }
    
    h1{
        font-size: 38px;
        font-weight: 1000;
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }
    .content-button{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    a{
        text-align: center;
        padding: 10px 15px;
        background-color: #495B71;
        color: #fff;
        border-radius: 15px;
    }
    a:hover{
        box-shadow: 0px 0px 20px 0px rgba(55,81,112,1);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(55,81,112,1);
        -moz-box-shadow: 0px 0px 20px 0px rgba(55,81,112,1);
    }
}

/* ================================================================================Responsive================================================================================= */
@media only screen and (max-width: 825px) {
/* ===================================CSS por defecto responsive================================ */

    /* ---------------------------Parte del Menu responsive--------------------------- */
    header{
        height: 85px;
    }
    .nav-menu{
        /* gap: 10px !important; */
        li{
            width: 100%;
            text-align: center;
        }
        a{
            color: #fff;
            font-size: 20px;
        }
    }
    .nav-toggle{
        display: flex !important;
        align-items: center;
        justify-content: center;
        color: #242d38;
        background: none;
        border: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
        cursor: pointer;
    }
    .espacio-logo{
        position: absolute;
        left: 0;
        top: 8px;
        
        img{
            width: 250px !important;
        }
    }
    .dropdown{
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }
    .hover-menu:hover {
        background-color: #8d9299 !important;
        transition: all .5s;
    }
    /* ---------------------Parte del Footer responsive----------------------- */
    .grupo-1{
        gap: 15px !important;
        padding: 0 !important;
    }
    .box{
        padding-bottom: 20px;
    }

/* ========================================Pagina Home========================================== */
    /* --------------Parte de la imagen y portada responsive-----------------= */
    .imagen-principal{
        h1{
            font-size: 30px !important;
        }
        p{
            width: 100% !important;
            padding: 2px !important;
        }
    }
    .portada-home{
        background-image: url(../image/portada-mobile.png);
        background-position-x: center;
    }
    .portada-about{
        background-position-x: center;
    }
    /* -----------------Parte del Sobre Nosotros responsive------------------- */
    .content-SN{
        gap: 5px !important;
    }
    /* ---------------------Parte del Servicio responsive--------------------- */
    .capa-servis{
        opacity: 1 !important;
    }
    /* --------------------Parte del Portafolio responsive-------------------- */
    .portafolio{
        p{
            padding: 2px !important;
        }
        a{
            margin-bottom: 5px !important;
        }
    }
    .grupo-1{
        flex-direction: column;
        height: 100% !important;
        width: 100% !important;
    }

/* =========================================Pagina About========================================= */
    /* --------------------------Portada de Conocer--------------------------- */
    .parte-final-about{
        flex-wrap: wrap;

        /* .img-final{
            height: 100%;
        } */
        .text-final{
            height: 100%;
        }
    }
    /* ----------------------Parte de Conocer responsive----------------------- */
    .conocer div{
        padding: 0;
        h4{
            font-size: 25px !important;
            text-align: center;
        }
    }

/* ========================================Pagina Servicios====================================== */
    /* ----------------------Parte de contenido responsive----------------------- */
    .contenido-servicios{
        flex-wrap: wrap;
        margin-top: 40px;

        -webkit-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
        -moz-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
        box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);


        .areatext-servicios{
            align-items: center;
            margin-top: 20px;
            padding: 20px !important;
        }
        .info-areatext{
            text-align: center;
        }
        .imgServices{
            height: 200px !important;
            width: 360px !important;
        }
    }

/* ========================================Pagina Contacto====================================== */
    .portada-contacto{
        background-position: center !important;
        
    }
    .contactar{
        flex-wrap: wrap;
    }
    .content-contact .contactar .area-contacto form {
        width: 100% !important;
        margin-bottom: 20px;
    }
}