@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*====================================Css por Defecto====================================*/
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

body {
    padding: 0;
    display: block;
    position: relative;
}
/*====================================Cabezera====================================*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 1;

    -webkit-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
    -moz-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
    box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);

    nav{
        display: flex;
    }
    .espacio-logo{
        img{
            width: 300px;
        }
    }
    .nav-menu{
        display: flex;
        gap: 30px;
        align-items: center;

    }

    .hover-menu{
        font-size: 18px;
        font-weight: bold;
        padding: 7px;
        border-radius: 10px;

    }

    .hover-menu:hover{
        background-color: #495b71;
        transition: all .5s;

        .nav-menu-link{
            color: #fff;
            transition: all .5s;
        }
    }

    .dropdown{
        display: flex;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        height: auto;

        width: 130px;
        gap: 15px;
        top: 68px;

        border-radius: 5px;
        

        background: rgb(255, 255, 255);
        -webkit-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
        -moz-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
        box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
        
        a{
            font-size: 15px;
            color: #000;
        }
    }

    .cascade{
        width: 97px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cascade:hover{
        .dropdown{
            opacity: 1;
            visibility:visible;
        }
    }

    .sub-menu:hover{
        color: #236abb;
        transition: all .5s;
    }

    .nav-toggle{
        display: none;
        z-index: 100;
        position: absolute;
        right: 0;
        top: 25px;
    }

    .nav-menu-visible{
        background-color: #495B71;
        z-index: -1;
        position:absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        opacity: 1 !important;
        visibility: visible !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all .5s;
    }
    .nav-menu-link{
        color: #000;
    }
}

.button-requerimientos{
    font-size: 20px;
    padding: 15px;
    color: #fff;
    background-color: #495B71;
    border-radius: 15px;
    margin-top: 20px;
}

.imagen-principal{
    height: 100vh;
    width: 100%;
    background-image: url(../image/prueba3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    padding-top: 100px;
    background-color: #000;


    /* filter: brightness(0.5); */


    -webkit-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
    -moz-box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);
    box-shadow: 2px 24px 55px -28px rgba(72,90,112,1);

    display: flex;
    justify-content: center;
    
    div{
        display: flex;
        /* justify-content: center; */
        margin-top: 200px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    h1{
        font-size: 60px;
        color: #fff;
        font-weight: bold;
    }
    p{
        width: 800px;
        text-align: center;
        color: #fff;
        font-size: 19px;
        font-weight: 100;
    }
    a:hover{
        box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
        -webkit-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
        -moz-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
    }
}

.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 70px;

    -webkit-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    -moz-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);

    .title-servicios{
        color: #495B71;
        font-size: 34px;
    }

    .servicios-content{
        display: flex;
        flex-direction: row;
        gap: 80px;

        .div-servicios{
            width: 300px;
            height: 450px;
            display: flex;
            border-radius: 15px;
            align-items: center;
        }
        .capa-servis{
            opacity: 0;
            height: 100%;
        }
        .capa-servis:hover{
            display: flex;
            opacity: 1;
            gap: 40px;
            height: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #fff !important;
            transition: opacity .6s;

            a{
                color: #fff;
                padding: 10px;
                background-color: #495b71;
                border-radius: 10px;
            }
            a:hover{
                box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
                -webkit-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
                -moz-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
            }
        }

        .trade{
            background-image: url(../image/trader.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .reparacion{
            background-image: url(../image/reparacion.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .logistica{
            background-image: url(../image/transporte.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.portafolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 70px;
    padding-bottom: 90px;

    -webkit-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    -moz-box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    box-shadow: 0px 14px 8px -14px rgba(55,81,112,1);
    
    .title-portafolio{
        color: #495B71;
        font-size: 34px;
    }

    p{
        text-align: center;
    }

    a:hover{
        box-shadow: 0px 0px 55px 0px rgba(55,81,112,1); 
        -webkit-box-shadow: 0px 0px 55px 0px rgba(55,81,112,1); 
        -moz-box-shadow: 0px 0px 55px 0px rgba(55,81,112,1);
    }

    .portafolio__galeria{
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        gap: 80px;
        margin-top: 100px;
        
        .portafolio__galeria-div{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            div{
                height: 300px;
                width: 300px;
                border-radius: 50%;
            }
        }
        .img-trade{
            background-image: url(../image/trade.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img-mante{
            background-image: url(../image/mante.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img-transporte{
            background-image: url(../image/transporte-carga.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img-logistica{
            background-image: url(../image/logistica-carga.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        p{
            color: #000;
            font-size: 20px;
        }
    }
}

.conocer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;

    background-image: url(../image/buque-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    div{
        display: flex;
        gap: 50px;
        background-color: #ffffff11;
        align-items: center;
        justify-content: center;
        padding: 80px;
        border-radius: 15px;

        a{
            color: #fff;
            padding: 15px;
            font-size: 28px;
            background-color: #495B71;
            border-radius: 15px;
        }
        a:hover{
            box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
            -webkit-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
            -moz-box-shadow: 0px 0px 55px 0px rgba(255,255,255,0.75);
        }
        h4{
            font-size: 35px;
            color: #fff;
        }
    }
}

.pies-pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D2D2D4;

    .grupo-1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;
        gap: 40px;
        width: 100%;
        padding: 0 200px;

        .box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;

            img{
                width: 270px;
            }
            p{
                font-size: 20px;
            }
            .footer-link{
                color: #000;
                font-size: 16px;
            }
            .footer-link:hover{
                transform: scale(1.05);
                color: #495b71;
            }
            li{
                font-size: 15px;
            }
            .red-social{
                font-size: 27px;
                display: flex;
                gap: 15px;
                
                a{
                    color: #fff;
                    padding: 15px;
                    background-color: #495B71;
                }
                a:hover{
                    color: rgb(199, 37, 37);
                }
            }
            .contact{
                display: flex;
                flex-direction: column;
                gap: 6px;
            }
            .title-contact{
                font-size: 17px;
            }
        }
    }
    .grupo-2{
        background-color: #495B71;
        color: #fff;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        
    }
}
/*====================================Responsive====================================*/
@media only screen and (max-width: 825px) {
    header{
        height: 85px;
    }
    .nav-menu{
        li{
            width: 100%;
            text-align: center;
        }
        a{
            color: #fff;
            font-size: 20px;
        }
    }
    .nav-toggle{
        display: flex !important;
        align-items: center;
        justify-content: center;
        color: #242d38;
        background: none;
        border: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
        cursor: pointer;
    }
    .espacio-logo{
        position: absolute;
        left: 0;
        top: 8px;
        
        img{
            width: 250px !important;
        }
    }
    .dropdown{
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }


    .imagen-principal{
        background-color: #000;
        background-image: url(../image/prueba2.png);
        background-position-x: center;
        
        /* filter: brightness(0.4); */
    }
}